/* height */
.vh-auto { height: auto; }
.vh-10 { height: 10vh; }
.vh-15 { height: 15vh; }
.vh-20 { height: 20vh; }
.vh-25 { height: 25vh; }
.vh-40 { height: 40vh; }
.vh-50 { height: 50vh; }
.vh-60 { height: 60vh; }
.vh-75 { height: 75vh; }
.vh-100 { height: 100vh; }

/* width */
.w-auto { width: auto; }
.w-40 { width: 40%; }
.w-50 { width: 50%; }
.w-75 { width: 75%; }
.w-95 { width: 95%; }
.w-100 { width: 100%; }

/* padding */
.top-10 { top: 10vh; }
.left-0 { left: 0%; }

/* overflow */
.overflow-x-scroll { overflow-x: scroll; }
.overflow-y-hidden { overflow-y: hidden; }

/* background */
.bg-url { background-position: center; background-repeat: no-repeat; background-size: contain; }

/* borders */
.br-4 { border-radius: 4%; }

/* cursor */
.cursor-pointer { cursor: pointer; }

/* z-index */
.z-index-1 { z-index: 1; }
